<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - Add Food Item</title>
    <link rel="stylesheet" href="../styles/admin_page.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>
<body>
    <header><h1>Admin Panel</h1></header>
    <nav>
        <a href="../../index.html">Logout</a>
    </nav>
    <form action="#" method="post" enctype="multipart/form-data" id="addFoodItem">
        <select id="restaurantsSelect">

        </select>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="calories">Calories:</label>
        <input type="number" id="calories" name="calories" required></textarea>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>

        <label for="link">Image Link:</label>
        <input type="text" id="link" name="link" required>

        <input type="button" value="Add Food Item" onclick="addRestaurant(event)">
    </form>
    <form action="#" method="post" enctype="multipart/form-data" id="addRestaurant">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="link">Image Link:</label>
        <input type="text" id="link" name="link" required>

        <input type="button" value="Add Restaurant" onclick="addRestaurant()">
    </form>
    <script src="../controllers/admin.js"></script>
</body>
</html>
