<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering Dashboard</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>

<body>
    <header>
        <h1>Food Ordering Dashboard</h1>
    </header>
    <nav>
        <a href="">Home</a>
        <a href="orders.html">Orders</a>
        <a href="cart.html">Cart</a>
        <a href="../index.html">Logout</a>
    </nav>
    <div class="container">
    </div>
</body>
<script src="../controllers/dashboard.js"></script>
</html>