<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering Dashboard</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>

<body>
    <header>
        <h1>Menu</h1>
    </header>
    <nav>
        <a href="dashboard.html">Home</a>
        <a href="orders.html">Orders</a>
        <a href="cart.html">Cart</a>
        <a href="../index.html">Logout</a>
    </nav>
    <div class="container">
        <div class="card">
            <img src="https://cf-images.us-east-1.prod.boltdns.net/v1/jit/1918791242001/9c7d51e7-003d-4eb2-9d03-877cf0c82bbb/main/1280x720/2s502ms/match/image.jpg" width="200px" alt="Restaurant Image">
            <h2>Chicken Sandwich</h2>
            <p>$4.99</p>
            <p>360 Calories</p>
            <a href="">
                <button>Add to Cart</button>
            </a>
        </div>
    </div>
</body>
<script src=""></script>
</html>