<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering Dashboard</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/orders.css">
</head>

<body>
    <header>
        <h1>Manage Orders</h1>
    </header>
    <nav>
        <a href="dashboard.html">Home</a>
        <a href="orders.html">Orders</a>
        <a href="cart.html">Cart</a>
        <a href="../../index.html">Logout</a>
    </nav>
    <div class="container">
        <table id="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items Ordered</th>
                    <th>Total Amount</th>
                    <th>Review</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table">
            </tbody>
        </table>
        <div class="actions">
            <button onclick="clearOrders()">Clear Orders</button>
        </div>
    </div>
</body>
<script src="../controllers/orders.js"></script>
</html>