<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form id="signupForm" action="#" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <a href="../../index.html">
                Log In
            </a>
            <input type="button" onclick="signup()" value="Sign Up">
        </form>
    </div>    
</body>
<script src="../controllers/authentication.js"></script>
</html>